<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NpgSqlDb" connectionString="Server=localhost;Port=5432;Database=FruitsAndVegetables;User Id=postgres;Password=1111;"
			 providerName="Npgsql"/>
		<add name="MSSqlDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FruitsAndVegetables;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
		<add name="SQLiteDb" connectionString="Data Source=FruitsAndVegetables.db"
			 providerName="System.Data.SQLite"/>
	</connectionStrings>
</configuration>